@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = null;
}

    <link rel="stylesheet" href="/assets/css/about.css">
 
<body>
    <div class="about-us">
        <h1>Nhà thuốc Online</h1>
        <h3>Nhóm 3 - 66PM2</h3>
        <h4>Thành viên nhóm</h4>
        <h5>Trần Mạnh Thế - 0205266</h5>
        <h5>Nguyễn Đức Tâm</h5>
        <h5>Nguyễn Mạnh Cường</h5>
        <h5>Nguyễn Việt Anh</h5>
        <h5>Nguyễn Hoàng Dũng</h5>
        <br>
        <a asp-action="Index" asp-controller="Home">Về trang chủ</a>
    </div>


</body>
</html>