@{
    ViewData["Title"] = "Trang chủ";
}

   <!-- -->
<div class="row p-2"></div>
        <!--  -->

        <!-- banner -->
        <div class="banner-container row p-4">
            <div class="col-2"></div>
            <div class="col-xl-8 p-0">
                <div class="banner d-flex">
                    <div class="banner-left mr-3 position-relative">
                        <img class="img-fluid skeleton " width="754px" height="300px"
                            data-src="/assets/img/banner/banner4.jpg">

                        <div class="btn-carousel-container position-absolute w-100" style="top: 40%">
                            <div class="btn-carousel-group d-flex justify-content-between p-3">
                                <a class="btn-carousel-left btn-light">
                                    <span>
                                        <?xml version="1.0" ?>
                                        <!DOCTYPE svg
                                            PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                                        <svg id="Layer_1" style="enable-background: new 0 0 64 64;" version="1.1"
                                            height="32" width="32" viewBox="0 0 64 64" xml:space="preserve"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <style type="text/css">
                                                .st0 {
                                                    fill: #134563;
                                                }
                                            </style>
                                            <g>
                                                <g id="Icon-Chevron-Left" transform="translate(237.000000, 335.000000)">
                                                    <polyline class="st0" id="Fill-35"
                                                        points="-199.1,-289 -212.9,-302.7 -199.1,-316.4 -197.1,-314.4 -208.9,-302.7 -197.1,-291      -199.1,-289    " />
                                                </g>
                                            </g>
                                        </svg>

                                    </span>
                                </a>
                                <a class="btn-carousel-right btn-light">
                                    <span>
                                        <?xml version="1.0" ?>
                                        <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                                        <svg id="Layer_1" style="enable-background: new 0 0 64 64;" version="1.1" viewBox="0 0 56 64" height="32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <style type="text/css">
                                                .st0 {
                                                    fill: #134563;
                                                }
                                            </style>
                                            <g>
                                                <g id="Icon-Chevron-Left" transform="translate(237.000000, 335.000000)"><polyline class="st0" id="Fill-35" points="-210.9,-289 -212.9,-291 -201.1,-302.7 -212.9,-314.4 -210.9,-316.4 -197.1,-302.7      -210.9,-289    " /></g>
                                            </g>
                                        </svg>
                                        
                                    </span>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-right d-flex" style="flex-wrap: wrap;">
                        <img class="skeleton  mb-3" width="321px" height="142px"
                            data-src="/assets/img/banner/banner3.jpg">
                      
                        <img class="skeleton " width="321px" height="142px"
                            data-src="/assets/img/banner/banner4.jpg">
                    </div>
                </div>

                <div class="col-2"></div>
            </div>
        </div>
        <!-- end banner -->

         <!--  -->
         <div class="row bg-secondary p-3"></div>
         <!-- -->
        
        <div class="category-container row  py-4">
            <div class="col-2">
            </div>
            <div class="category col-xl-8">
                <div class="category-header">
                    <p class="h5">Danh mục sản phẩm</p>

                </div>
                <div class="category-body  w-100">
                    <ul class="w-100 m-0 p-0 d-flex justify-content-between">
                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Dược phẩm</p>
                            </a>
                        </li>
                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Chăm sóc sức khỏe</p>
                            </a>
                        </li>
                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Chăm sóc cá nhân</p>
                            </a>
                        </li>
                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Sản phẩm tiện lợi</p>
                            </a>
                        </li>

                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Thực phẩm chức năng</p>
                            </a>
                        </li>


                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Mẹ và Bé</p>
                            </a>
                        </li>

                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Chăm sóc sắc đẹp</p>
                            </a>
                        </li>

                        <li class="">
                            <a>
                                <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/category-img/Group_10378-1.webp">
                                <p>Thiết bị y tế</p>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-2">
            </div>
        </div>
        <!--  -->

        <div class="row bg-secondary p-3"></div>
        <!-- -->
        <div class="row p-2"></div>
        <!-- banner-prescription -->
        <div class="banner-prescription-container row  p-4">
            <div class="col-2"></div>
            <div class="banner-prescription col-xl-8">
                <div class="banner-prescription_upload-step">
                    <img class="img-fluid" src="/assets/img/page-img/upoad-prescription-step-1.webp">
                    <img class="img-fluid" src="/assets/img/page-img/upoad-prescription-step-2.webp">
                    <img class="img-fluid" src="/assets/img/page-img/upoad-prescription-step-3.webp">
                </div>

                <div class="banner-prescription_buy-now ">
                    <img class="img-fluid h-75 w-100" src="/assets/img/page-img/higlight-title.webp">
                    <img class="img-fluid h-25" src="/assets/img/page-img/btn-buy-now.webp">
           
                    <a asp-action="Prescriptions" asp-controller="Home">Đặt ngay</a>
                </div>

                <div class="banner-prescription_footer-content">

                </div>

            </div>
            <div class="col-2"></div>

        </div>
        <!-- end banner -->

       

        <!-- category -->
        <!-- end category -->

        <!--  -->
      
        <div class="row bg-secondary p-3"></div>
        <!-- -->

        <!-- product-carousel -->
        <div class="product-carousel-container row p-4">
            <div class="col-2"></div>
            <div class="product-carousel col-xl-8">
                <div class="product_header my-4">
                    <h5>
                        Thương hiệu Pharmacity - Chăm sóc toàn diện
                    </h5>
                </div>
                <div class="product_list-items">
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success my-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>

                </div>
                <!--  -->
                <div class="row p-2"></div>
                <!--  -->

            </div>
            <div class="col-2"></div>
        </div>

        <div class="product-carousel-container row p-4">
            <div class="col-2"></div>
            <div class="product-carousel col-xl-8">
                <div class="product_header my-4">
                    <h5>
                        Thương hiệu Pharmacity - Chăm sóc toàn diện
                    </h5>
                </div>
                <div class="product_list-items">
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid" loading="lazy" src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success my-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid" loading="lazy" src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid" loading="lazy" src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid" loading="lazy" src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="product-item my-2 mr-2">
                        <img class="img-fluid" loading="lazy" src="/assets/img/products/sp1.jpg">
                        <div class="product-item_body m-2">
                            <div class="product-item_title">
                                Nước muối Pharmacity 0,9%asaddddddddddfsddddddddddsaa
                            </div>
                            <div class="product-item_originalPrice">
                                10.500đ
                            </div>
                            <div class="product-item_price">
                                8000 đ/Chai
                            </div>
                            <button class="product-item_add-to-cart btn btn-success mt-2 w-100">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>

                </div>
                <!--  -->
                <div class="row p-2"></div>
                <!--  -->

            </div>
            <div class="col-2"></div>
        </div>
        <!--  -->
        <div class="row bg-secondary p-3"></div>
        <!--  -->

        <!-- Outstanding -->
        <div class="outstanding-brand-container row p-4">
            <div class="col-2"></div>
            <div class="outstanding-brand col-xl-8 p-0">
                <h5 class="mb-3">Thương hiệu nổi bật</h5>
                <div class="outstanding-brand_list-items">
                    <ul class="p-0 m-0 d-flex justify-content-between">
                        <li class=" mr-4 my-2">
                            <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/brand-img/pmc.webp">
                            <p class="p-2 mt-2">Thương hiệu</p>
                        </li>
                        <li class=" mr-4 my-2">
                            <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/brand-img/PF_1.webp">
                            <p class="p-2 mt-2">Thương hiệu</p>
                        </li>
                        <li class=" mr-4 my-2">
                            <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/brand-img/7_Vitabella.webp">
                            <p class="p-2 mt-2">Thương hiệu</p>
                        </li>
                        <li class=" mr-4 my-2">
                            <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/brand-img/Group_23973.webp">
                            <p class="p-2 mt-2">Thương hiệu</p>
                        </li>
                        <li class=" mr-4 my-2">
                            <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/brand-img/Life_Space_logo.webp">
                            <p class="p-2 mt-2">Thương hiệu</p>
                        </li>
                        <li class=" mr-4 my-2">
                            <img class="img-fluid skeleton" loading="lazy" data-src="/assets/img/brand-img/Nutrigen.png">
                            <p class="p-2 mt-2">Thương hiệu</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-2"></div>

        </div>
        <!--  -->

        <!--  -->
        <div class="row bg-secondary p-3"></div>
        <!--  -->
@section ScriptsLazyLoading{
    <script>
        // Lấy tất cả các phần tử <img> có thuộc tính data-src
        const lazyImages = document.querySelectorAll('img[data-src]');

        // Lặp qua từng phần tử <img> và thay thế thuộc tính data-src bằng src khi ảnh đã tải xong
        lazyImages.forEach(img => {
            const src = img.getAttribute('data-src');

            // Tạo một đối tượng Image mới để tải ảnh
            const image = new Image();
            image.src = src;

            // Khi ảnh đã tải xong, thay thế thuộc tính data-src bằng src
            image.onload = () => {
                img.src = src;
                img.removeAttribute('data-src');
                img.classList.remove('skeleton')
            };
        });


    </script>

}