<div class="row p-4"></div>

<div class="prescription-upload row">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-between ">
        <div class="prescription-upload_area bg-white p-4">
            <div class="prescription-upload_content">
                <h4><span class="badge badge-primary badge-pill  mr-2">1 </span>Chụp ảnh toa thuốc</h4>
                <p>
                    Tối đa 5 hình và dung lượng mỗi hình không quá 10MB.
                    <br>
                    Toa thuốc phải hợp lệ: đủ và rõ thông tin, còn nguyên vẹn và còn hiệu lực (trong 5 ngày).
                </p>
                <div class="upload-content">
                    <label class="file-upload" for="upload">

                        <h6>Đăng ảnh toa thuốc ở đây</h6>
                        <p>Kéo hình ảnh hoặc bấm vào đây để đăng tải hình ảnh toa thuốc lên đây</p>
                        <a class="btn btn-primary text-white">Chọn ảnh</a>

                    </label>
                </div>
                <div class="file-upload_list-items d-flex">
                    <div class="file-upload_item position-relative">
                        <img class="image-upload img-fluid" src="/assets/img/prescriptions-upload/prescription-tips.png">
                        <img class="position-absolute" style="right: 0px" src="/assets/img/icon/x_icon.svg">
                    </div>
                    <div class="file-upload_item">
                        <img class="image-upload img-fluid" src="/assets/img/prescriptions-upload/prescription-tips.png">
                    </div>
                    <div class="file-upload_item">
                        <img class="image-upload img-fluid" src="/assets/img/prescriptions-upload/prescription-tips.png">
                    </div>
                    <div class="file-upload_item">
                        <img class="image-upload img-fluid" src="/assets/img/prescriptions-upload/prescription-tips.png">
                    </div>
                    <div class="file-upload_item">
                        <img class="image-upload img-fluid" src="/assets/img/prescriptions-upload/prescription-tips.png">
                    </div>

                </div>
                <input type="file" name="" id="upload" hidden>
                <div class="form w-100 mt-3">
                    <label>Ghi chú</label>
                    <input class="note-input w-100" type="text" placeholder="Vui lòng nhập để lại thông tin ghi chú cho dược sĩ Pharmacity">

                    <h4 class="mt-4"><span class="badge badge-primary badge-pill mr-2 ">2</span>Nhập thông tin liên hệ</h4>
                    <div class="user-info mb-2 d-flex justify-content-between">
                        <div class="input-text-field">
                            <label>Họ tên<span class="text-danger">*</span></label>
                            <input class="w-100" type="text" value="Khach hang">
                        </div>
                        <div class="input-text-field">
                            <label>Số điện thoại<span class="text-danger">*</span></label>
                            <input class="w-100" type="phone" value="0912312231">
                        </div>
                    </div>
                    <button class="btn btn-primary px-4 my-2 w-100">Gửi toa thuốc</button>
                </div>

            </div>
        </div>
        <div class="prescription-upload_tips bg-warning p-4">
            <h4>Toa thuốc minh họa</h4>
            <div class="prescription-image">
                <img class="img-fluid" src="/assets/img/page-img/prescription-tips.png">
            </div>
            <div class="description my-2" style="font-size: 14px;">
                1. Có thông tin đơn vị phát hành toa thuốc
                <br>
                2. Có chi tiết thông tin bệnh nhân, chẩn đoán bệnh
                <br>
                3. Có tên thuốc, hàm lượng, số lượng, liều dùng
                <br>
                4. Còn hiệu lực: Toa thuốc chỉ có hiệu lực trong vòng <b>5 ngày</b> kể từ ngày kê toa
                <br>
                5. Có chữ ký và họ tên bác sĩ kê toa
                <br>
                Lưu ý: Hình ảnh toa thuốc phải đầy đủ, không cắt xén, mất nét
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row p-4"></div>
<div class="row p-4"></div>

<div class="row p-4"></div>
