@model NhaThuocOnline.ViewModel.Coupon.CouponCreateRequest

@{
    ViewData["Title"] = "Create";
}
<div style="margin-top: 100px; margin-left: 24px">

<h5>Thêm phiếu giảm giá</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Mã giảm giá</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponDescription" class="control-label">Mô tả</label>
                <input asp-for="CouponDescription" class="form-control" />
                <span asp-validation-for="CouponDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxUsage" class="control-label">Số lần sử dụng tối đa cho phép</label>
                <input asp-for="MaxUsage" class="form-control" />
                <span asp-validation-for="MaxUsage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountType" class="control-label">Kiểu giảm giá</label>
                <input asp-for="DiscountType" class="form-control" />
                <span asp-validation-for="DiscountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountValue" class="control-label">Giá trị giảm giá</label>
                <input asp-for="DiscountValue" class="form-control" />
                <span asp-validation-for="DiscountValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponStartDate" class="control-label">Ngày bắt đầu</label>
                <input asp-for="CouponStartDate" class="form-control" />
                <span asp-validation-for="CouponStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponEndDate" class="control-label">Ngày kết thúc</label>
                <input asp-for="CouponEndDate" class="form-control" />
                <span asp-validation-for="CouponEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
