@model IEnumerable<NhaThuocOnline.ViewModel.Prescription.PrescriptionVm>

@{
    ViewData["Title"] = "Index";
    var imageFolderUrl = "https://localhost:7128/user-content/";
}

<div style="margin: 100px 0 0 24px">
    <div>
        <h3 class="ml-3">Đơn thuốc mới tải lên</h3>
        <ul class="d-flex flex-wrap">
            @foreach (var item in Model)
            {
            <li class="m-3">
                <img width="220px" height="250px" src="@imageFolderUrl@item.ImagePath" />
                <p><b>Khách hàng:</b> @item.CustomerName</p>
                    <p><b>Số điện thoại:</b> @item.CustomerPhone</p>
                    <p><b>Thời gian tạo:</b> @item.CreatedDate</p>
                <p><b>Ghi chú:</b> @item.CustomerNote    </p>

            </li>
                
            }
      
        </ul>
    </div>
</div>


