
<div class="showProduct row p-0 m-0 ">
            <div class="col-2  "></div>
            <div class="col-xl-8 p-0 my-4 ">
                 <div class="h6 p-2 ">
                   Tìm thấy <span>10</span> kết quả phù hợp với yêu cầu 
                 </div>
                <div class=" row p-0 m-0" >
                    <div class=" left-content  col-md-3 bg-warning py-2 ">
                        <!-- ======= Sidebar ======= -->
                        <div class="sidebar">
                           <h5>Danh mục</h5>
                        </div>
                        <!-- End Sidebar-->
                    </div>
                    <div class="right-content col-12 col-md-9 p-0  py-2 ">
        
                        <main id="main" class="categoryBtn main ml-2 mt-2 mb-3">
                            <div class="btn-list" data-toggle="offcanvas" data-target="#listItem" role="button" aria-controls="listItem">
                               <span>
                                <svg height="24px" id="Layer_1" style="enable-background: new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <path
                                      d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
                                  />
                              </svg>
                              
                               </span>
                            </div>
                        </main> 
                             <!--  -->
                        
                                <div class="row select-search-for align-items-center ml-2 ">
                                    <div class=" col-lg-2 col-2  p-0">
                                        <div class="form-group" style="min-width: 100px;" >
                                            <select class="form-control" aria-label="">
                                              <option selected>Lọc</option>
                                              <option value="1">Giá</option>
                                              <option value="2">A->Z</option>
                                              <option value="3">Mới nhất</option>
                                            </select>
                                          </div>
                                    </div>
                                    <div class="col-lg offset-lg-4"></div>
        
                                </div>
        
                                <div class="w-100 d-flex flex-wrap mt-3 p-0 ml-2  ">
        
                                   
                                  <div class="product-item card position-relative card-container  mb-2 mr-2">
                                    <img src="https://bizweb.dktcdn.net/100/452/964/articles/top-5-nuoc-hoa-nu-mui-nu-tinh-ma-moi-co-gai-deu-nen-so-huu-1-lan-scentsharing.jpg?v=1654593138267" class="card-img-top" alt="...">
                                    <div class="card-body p-2">
                                      <h6 class="card-title truncate-text">Bộ sản phẩm nước hoa DiorPhápaaaaaaaaaaaaa</h6>
                                      <div class="price text-primary fw-bold mb-1">456.000đ</div>
                                      <del>500.000đ</del>
                                      <div class="d-grid gap-2 mt-2 mb-1">
                                        <button class="btn btn-success w-100"  type="button">
                                          Thêm vào giỏ hàng
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                    
        
                                    
                                        <div class="product-item card position-relative card-container  mb-2 mr-2">
                                          <img src="https://bizweb.dktcdn.net/100/452/964/articles/top-5-nuoc-hoa-nu-mui-nu-tinh-ma-moi-co-gai-deu-nen-so-huu-1-lan-scentsharing.jpg?v=1654593138267" class="card-img-top" alt="...">
                                          <div class="card-body p-2">
                                            <h6 class="card-title truncate-text">Bộ sản phẩm nước hoa Dior Pháp</h6>
                                            <div class="price text-primary fw-bold mb-1">456.000đ</div>
                                            <del>500.000đ</del>
                                            <div class="d-grid gap-2 mt-2 mb-1">
                                              <button class="btn btn-success w-100" type="button">
                                                Thêm vào giỏ hàng
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                    
        
                                      <div class="product-item card position-relative card-container  mb-2 mr-2">
                                          <img src="https://bizweb.dktcdn.net/100/452/964/articles/top-5-nuoc-hoa-nu-mui-nu-tinh-ma-moi-co-gai-deu-nen-so-huu-1-lan-scentsharing.jpg?v=1654593138267" class="card-img-top" alt="...">
                                          <div class="card-body p-2">
                                            <h6 class="card-title truncate-text">Bộ sản phẩm nước hoa DiorPhápaaaaaaaaaaaaa</h6>
                                            <div class="price text-primary fw-bold mb-1">456.000đ</div>
                                            <del>500.000đ</del>
                                            <div class="d-grid gap-2 mt-2 mb-1">
                                              <button class="btn btn-success w-100"  type="button">
                                                Thêm vào giỏ hàng
                                              </button>
                                            </div>
                                          </div>
                                        </div>
        
                                      <div class="product-item card position-relative card-container  mb-2 mr-2">
                                          <img src="https://bizweb.dktcdn.net/100/452/964/articles/top-5-nuoc-hoa-nu-mui-nu-tinh-ma-moi-co-gai-deu-nen-so-huu-1-lan-scentsharing.jpg?v=1654593138267" class="card-img-top" alt="...">
                                          <div class="card-body p-2">
                                            <h6 class="card-title truncate-text">Bộ sản phẩm nước hoa DiorPhápaaaaaaaaaaaaa</h6>
                                            <div class="price text-primary fw-bold mb-1">456.000đ</div>
                                            <del>500.000đ</del>
                                            <div class="d-grid gap-2 mt-2 mb-1">
                                              <button class="btn btn-success w-100"  type="button">
                                                Thêm vào giỏ hàng
                                              </button>
                                            </div>
                                          </div>
                                        </div>
        
                                      <div class="product-item card position-relative card-container  mb-2 mr-2">
                                          <img src="https://bizweb.dktcdn.net/100/452/964/articles/top-5-nuoc-hoa-nu-mui-nu-tinh-ma-moi-co-gai-deu-nen-so-huu-1-lan-scentsharing.jpg?v=1654593138267" class="card-img-top" alt="...">
                                          <div class="card-body p-2">
                                            <h6 class="card-title truncate-text">Bộ sản phẩm nước hoa DiorPhápaaaaaaaaaaaaa</h6>
                                            <div class="price text-primary fw-bold mb-1">456.000đ</div>
                                            <del>500.000đ</del>
                                            <div class="d-grid gap-2 mt-2 mb-1">
                                              <button class="btn btn-success w-100"  type="button">
                                                Thêm vào giỏ hàng
                                              </button>
                                            </div>
                                          </div>
                                        </div>
        
                                      <div class="product-item card position-relative card-container  mb-2 mr-2">
                                          <img src="https://bizweb.dktcdn.net/100/452/964/articles/top-5-nuoc-hoa-nu-mui-nu-tinh-ma-moi-co-gai-deu-nen-so-huu-1-lan-scentsharing.jpg?v=1654593138267" class="card-img-top" alt="...">
                                          <div class="card-body p-2">
                                            <h6 class="card-title truncate-text">Bộ sản phẩm nước hoa DiorPhápaaaaaaaaaaaaa</h6>
                                            <div class="price text-primary fw-bold mb-1">456.000đ</div>
                                            <del>500.000đ</del>
                                            <div class="d-grid gap-2 mt-2 mb-1">
                                              <button class="btn btn-success w-100"  type="button">
                                                Thêm vào giỏ hàng
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                </div>
                            
        
                           
                        </main><!-- End #main -->
                    </div>
                </div>
            </div>
            <div class="col-2"></div>

        
     







    </div>

<div class="row p-4"></div>
