<head>
    <title></title>
    <link rel="stylesheet" href="/assets2/css/dashlitee5ca.css?ver=3.2.3" />
    <link id="skin-default" rel="stylesheet" href="/assets2/css/themee5ca.css?ver=3.2.3" />
    <style>
        .nk-content {
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Thêm hoàn trả</h3>
                                <div class="nk-block-des text-soft">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="row gy-4">
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="name">Mã đơn hàng</label><input type="text" class="form-control" id="name" placeholder="Mã đơn hàng" required></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="seller">Tên khách hàng</label><input type="text" class="form-control" id="seller" placeholder="Tên sản phẩm" required></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="seller">Tên sản phẩm</label><input type="text" class="form-control" id="seller" placeholder="Tên sản phẩm" required></div>
                                    </div>


                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="gname">Số lượng</label><input type="text" class="form-control" id="gname" placeholder="Số lượng" required></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Trạng thái sản phẩm</label>
                                            <div class="form-control-wrap"><select class="form-select js-select2"><option value="default_option">Select</option><option value="option_select_reason">Tablet</option><option value="option_select_reason">Syrup</option><option value="option_select_reason">Vitamin</option><option value="option_select_reason">Inhealer</option></select></div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Lý do</label>
                                            <div class="form-control-wrap"><select class="form-select js-select2"><option value="default_option">Select</option><option value="option_select_reason">Wrong medication</option><option value="option_select_reason">Wrong dispensing</option><option value="option_select_reason">Subsidence symptoms</option></select></div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Ngày trả</label>
                                            <div class="form-control-wrap"><input type="text" class="form-control date-picker" placeholder="Date"></div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                            <li><a href="#" data-bs-dismiss="modal" class="btn btn-primary">Thêm</a></li>
                                            <li><a href="#" data-bs-dismiss="modal" class="link link-light">Hủy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<</body>