<head>
    <title></title>
    <link rel="stylesheet" href="/assets2/css/dashlitee5ca.css?ver=3.2.3" />
    <link id="skin-default" rel="stylesheet" href="/assets2/css/themee5ca.css?ver=3.2.3" />
    <style>
        .nk-content {
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Danh sách đổi trả</h3>
                                <div class="nk-block-des text-soft">
                                </div>
                            </div>
                            <div class="nk-block-head-content">
                                <div class="toggle-wrap nk-block-tools-toggle">
                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                    <div class="toggle-expand-content" data-content="pageMenu">
                                        <ul class="nk-block-tools g-2">
                                            <li>
                                                <div class="drodown">
                                                    <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-filter-alt"></em><span><span class="d-none d-md-inline"></span>Filtered By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li><a href="#"><span>Last 7 Days</span></a></li>
                                                            <li><a href="#"><span>Last 30 Days</span></a></li>
                                                            <li><a href="#"><span>Last 6 Month</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nk-block-tools-opt">
                                            <li class="nk-block-tools-opt"><a href="add-wastage-return.html" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a><a href="add-wastage-return.html" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Wastage Return</span></a></li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="card card-bordered card-stretch">
                            <div class="card-inner-group">
                                <div class="card-inner position-relative card-tools-toggle">
                                    <div class="card-title-group">
                                        <div class="card-tools">
                                            
                                        </div>
                                        <div class="card-tools me-n1">
                                            <ul class="btn-toolbar gx-1">
                                                <li><a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a></li>
                                                <li class="btn-toolbar-sep"></li>
                                                <li>
                                                    <div class="toggle-wrap">
                                                        <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                                        <div class="toggle-content" data-content="cardTools">
                                                            <ul class="btn-toolbar gx-1">
                                                                <li class="toggle-close"><a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-arrow-left"></em></a></li>
                                                                <li>
                                                                    <div class="dropdown">
                                                                        <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                                                            <div class="dot dot-primary"></div><em class="icon ni ni-filter-alt"></em>
                                                                        </a>
                                                                        <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                                                            <div class="dropdown-head">
                                                                                <span class="sub-title dropdown-title">Filter Wastage Return</span>
                                                                                <div class="dropdown"><a href="#" class="btn btn-sm btn-icon"><em class="icon ni ni-more-h"></em></a></div>
                                                                            </div>
                                                                            <div class="dropdown-body dropdown-body-rg">
                                                                                <div class="row gx-6 gy-3">
                                                                                    <div class="col-6">
                                                                                        <div class="custom-control custom-control-sm custom-checkbox"><input type="checkbox" class="custom-control-input" id="hasBalance"><label class="custom-control-label" for="hasBalance"> Have Balance</label></div>
                                                                                    </div>
                                                                                    <div class="col-6">
                                                                                        <div class="custom-control custom-control-sm custom-checkbox"><input type="checkbox" class="custom-control-input" id="hasKYC"><label class="custom-control-label" for="hasKYC">Email Verified</label></div>
                                                                                    </div>
                                                                                    <div class="col-6">
                                                                                        <div class="form-group">
                                                                                            <label class="form-label">Ngày</label>
                                                                                            <div class="form-control-wrap">
                                                                                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div><input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-6">
                                                                                        <div class="form-group">
                                                                                            <label class="form-label">Lý do</label>
                                                                                            <div class="form-control-wrap"><select class="form-select js-select2"><option value="default_option">Select</option><option value="option_select_reason">Expire Date</option><option value="option_select_reason">Wrong Drug</option><option value="option_select_reason">Extra Drug</option><option value="option_select_reason">Damaged Drug</option></select></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <div class="form-group"><button type="button" class="btn btn-secondary">Filter</button></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="dropdown-foot between"><a class="clickable" href="#">Reset Filter</a><a href="#">Save Filter</a></div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="dropdown">
                                                                        <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-setting"></em></a>
                                                                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                                                            <ul class="link-check">
                                                                                <li><span>Show</span></li>
                                                                                <li class="active"><a href="#">10</a></li>
                                                                                <li><a href="#">20</a></li>
                                                                                <li><a href="#">50</a></li>
                                                                            </ul>
                                                                            <ul class="link-check">
                                                                                <li><span>Order</span></li>
                                                                                <li class="active"><a href="#">DESC</a></li>
                                                                                <li><a href="#">ASC</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-search search-wrap" data-search="search">
                                        <div class="card-body">
                                            <div class="search-content">
                                                <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a><input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by Purchase id name or">
                                                <button class="search-submit btn btn-icon">
                                                    <em class="icon ni ni-search"></em>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner p-0">
                                    <div class="nk-tb-list nk-tb-ulist">
                                        <div class="nk-tb-item nk-tb-head">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid"><label class="custom-control-label" for="uid"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Purchase ID</span></div>
                                            <div class="nk-tb-col"><span class="sub-text">Customer</span></div>
                                            <div class="nk-tb-col tb-col-lg"><span class="sub-text">Date</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Product Details</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Seller</span></div>
                                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Reason</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Quantity</span></div>
                                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Amount</span></div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1 my-n1">
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger me-n1" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="#"><em class="icon ni ni-mail"></em><span>Send Email to All</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit Selected</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove Selected</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid1"><label class="custom-control-label" for="uid1"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#3587</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-success"><span>AB</span></div>
                                                        <div class="user-info"><span class="tb-lead">Abu Bin Ishtiyak</span><span>info@softnio.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>19/12/2020</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">Zimax</span></span>
                                                </div>
                                                <div><span>Generic Name : Azithromycin</span></div>
                                                <div><span>Catagory : Tablet</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#746f5k2</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Anim Lio</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-danger">Wrong medication</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>2box</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">78.55 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid2"><label class="custom-control-label" for="uid2"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#7684</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-orange"><span>AL</span></div>
                                                        <div class="user-info"><span class="tb-lead">Ashley Lawson</span><span>ashley@softnio.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>17/05/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">Oxidon</span></span>
                                                </div>
                                                <div><span>Generic Name : Domperidon</span></div>
                                                <div><span>Catagory : Tablet</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#75635k9</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Robert Omi</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-warning">Wrong dispensing</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>10pcs</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">90.20 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid3"><label class="custom-control-label" for="uid3"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#3466</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-info"><span>JL</span></div>
                                                        <div class="user-info"><span class="tb-lead">Joe Larson</span><span>larson@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>05/12/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">MED-1008</span></span>
                                                </div>
                                                <div><span>Generic Name : hydrazine</span></div>
                                                <div><span>Catagory : Inhealer</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#546H74W</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Jon Nurb</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-info">Subsidence symptoms</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>5pcs</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">43.98 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid4"><label class="custom-control-label" for="uid4"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#6523</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-danger"><span>JM</span></div>
                                                        <div class="user-info"><span class="tb-lead">Jane Montgomery</span><span>jane84@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>02/08/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">Ceevit</span></span>
                                                </div>
                                                <div><span>Generic Name : Vitamin C</span></div>
                                                <div><span>Catagory : Vitamin</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#87X6A44</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Jimi Tarde</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-danger">Wrong medication</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>4pcs</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">80.26 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid5"><label class="custom-control-label" for="uid5"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#1274</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-indigo-dim"><span>FB</span></div>
                                                        <div class="user-info"><span class="tb-lead">Frances Burns </span><span>frances@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>09/02/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">DON A</span></span>
                                                </div>
                                                <div><span>Generic Name : Domperidon</span></div>
                                                <div><span>Catagory : Tablet</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#986G531</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Janet Snyder</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-warning">Wrong dispensing</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>9pcs</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">12.20 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid6"><label class="custom-control-label" for="uid6"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#8134</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-pink"><span>AB</span></div>
                                                        <div class="user-info"><span class="tb-lead">Alan Butler </span><span>butler@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>20/01/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">Pantonix</span></span>
                                                </div>
                                                <div><span>Generic Name : Pantoprazol</span></div>
                                                <div><span>Catagory : Tablet</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#326T4M9</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Sturn Vais</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-info">Subsidence of symptoms</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>1box</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">45.00 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid7"><label class="custom-control-label" for="uid7"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#9124</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-warning-dim"><span>VL</span></div>
                                                        <div class="user-info"><span class="tb-lead">Victoria Lynch </span><span>victoria@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>03/05/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">Iconiazid</span></span>
                                                </div>
                                                <div><span>Generic Name : hydrazine</span></div>
                                                <div><span>Catagory : Syrup</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#87Z6A44</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Born Myre</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-warning">Wrong dispensing</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>2bottle</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">250.00 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid8"><label class="custom-control-label" for="uid8"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#8264</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-success"><span>PN</span></div>
                                                        <div class="user-info"><span class="tb-lead">Patrick Newman</span><span>patrick@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>07/05/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">EC Plus</span></span>
                                                </div>
                                                <div><span>Generic Name : Vitamin E</span></div>
                                                <div><span>Catagory : Vitamin</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#746F5K2</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Runi Lara</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-danger">Wrong medication</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>5pcs</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">60.35 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid9"><label class="custom-control-label" for="uid9"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#8125</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-dark-dim"><span>JH</span></div>
                                                        <div class="user-info"><span class="tb-lead">Jane Harris</span><span>harris@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>19/08/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">Acetylsalicylic</span></span>
                                                </div>
                                                <div><span>Generic Name : Aspirin</span></div>
                                                <div><span>Catagory : Syrup</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#685HFM1</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Anim Lio</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-info">Subsidence symptoms</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>3bottle</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">25.50 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid10"><label class="custom-control-label" for="uid10"></label></div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><a href="#"><span class="fw-medium">#8123</span></a></div>
                                            <div class="nk-tb-col">
                                                <a href="#">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-purple"><span>EW</span></div>
                                                        <div class="user-info"><span class="tb-lead">Emma Walker</span><span>walker@example.com</span></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg"><span>29/07/2021</span></div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div>
                                                    <span>Name : <span class="fw-bold">voltaren</span></span>
                                                </div>
                                                <div><span>Generic Name : Diclofenac</span></div>
                                                <div><span>Catagory : Syrup</span></div>
                                                <div>
                                                    <span>Invoice : <span class="text-success">#2385L1</span></span>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-xxl">
                                                <div class="user-card">
                                                    <div class="user-avatar sm bg-success-dim"><em class="icon ni ni-user-fill"></em></div>
                                                    <div class="user-name"><span class="tb-lead">Sparking Piom</span></div>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span class="badge  bg-outline-danger">Wrong medication</span></div>
                                            <div class="nk-tb-col tb-col-xxl"><span>1bottle</span></div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span class="tb-amount">33.55 <span class="currency">USD</span></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden"><a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editWastageReturn"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                    <li><a data-bs-toggle="modal" href="#modalDelete"><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner">
                                    <div class="nk-block-between-md g-3">
                                        <div class="g">
                                            <ul class="pagination justify-content-center justify-content-md-start">
                                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                            </ul>
                                        </div>
                                        <div class="g">
                                            <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                                <div>Page</div>
                                                <div><select class="form-select form-select-sm js-select2" data-search="on" data-dropdown="xs center"><option value="page-1">1</option><option value="page-2">2</option><option value="page-4">4</option><option value="page-5">5</option><option value="page-6">6</option><option value="page-7">7</option><option value="page-8">8</option><option value="page-9">9</option><option value="page-10">10</option><option value="page-11">11</option><option value="page-12">12</option><option value="page-13">13</option><option value="page-14">14</option><option value="page-15">15</option><option value="page-16">16</option><option value="page-17">17</option><option value="page-18">18</option><option value="page-19">19</option><option value="page-20">20</option></select></div>
                                                <div>OF 102</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>