@model NhaThuocOnline.ViewModel.Product.ProductCreateRequest

@{
    ViewData["Title"] = "Create";
}

<head>
    <title></title>
    <link rel="stylesheet" href="/assets2/css/dashlitee5ca.css?ver=3.2.3" />
    <link id="skin-default" rel="stylesheet" href="/assets2/css/themee5ca.css?ver=3.2.3" />
    <style>
        .nk-content {
            margin-top: 80px;
        }
    </style>
</head>

<body>

    <div class="nk-content">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Thêm sản phẩm</h3>
                                <div class="nk-block-des text-soft"><p>Bạn có thể thêm thuốc bằng cách điền vào các trường bên dưới</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="row gy-4">
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="name">Tên sản phẩm</label><input type="text" class="form-control" id="name" placeholder="Tên sản phẩm" required /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">SKU</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                 
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="name">Giá gốc</label><input type="text" class="form-control" id="name" placeholder="Tên sản phẩm" required /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="name">Giá bán</label><input type="text" class="form-control" id="name" placeholder="Tên sản phẩm" required /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Thương hiệu</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Quy cách</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Nguồn gốc</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Nhà sản xuất</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Nơi sản xuất</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Thành phần</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                   
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Seo Title</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Seo Alias</label><input type="email" class="form-control" id="sKU" placeholder="SKU" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="sKU">Ảnh sản phẩm</label>
                                            <input type="file" class="form-control" id="sKU" placeholder="SKU" />
                                         </div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Danh mục</label>
                                            <div class="form-control-wrap">
                                                <select class="form-select js-select2">
                                                    <option value="default_option">Select</option>
                                                    <option value="option_select_category">Tablet</option>
                                                    <option value="option_select_category">Syrup</option>
                                                    <option value="option_select_category">Vitamin</option>
                                                    <option value="option_select_category">Inhealer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <div class="form-control-wrap">
                                                <select class="form-select js-select2">
                                                    <option value="default_option">select</option>
                                                    <option value="option_select_status">Active</option>
                                                    <option value="option_select_status">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                
                              
                              
                                  
                                    <div class="col-xxl-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mô tả sản phẩm</label>
                                            <div class="form-control-wrap">
                                                <textarea class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label" for="sKU">Yêu cầu đơn thuốc</label>
                                            <input type="checkbox" class="" id="sKU" placeholder="SKU" />
                                        </div>

                                    </div>
                              
                                    <div class="col-12">
                                        <div class="form-group"><button type="submit" class="btn btn-primary">Thêm</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
