
@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title></title>
    <link rel="stylesheet" href="/assets2/css/dashlitee5ca.css?ver=3.2.3" />
    <link id="skin-default" rel="stylesheet" href="/assets2/css/themee5ca.css?ver=3.2.3" />
    <style>
        .nk-content {
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div class="nk-content">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Thêm khách hàng</h3>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="row gy-4">
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="name">Họ</label><input type="text" class="form-control" id="name" placeholder="Họ" required /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="name">Tên</label><input type="text" class="form-control" id="name" placeholder="Tên" required /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="phone-no">Số điện thoại</label><input type="number" class="form-control" id="phone-no" placeholder="Số điện thoại" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="email">Email</label><input type="email" class="form-control" id="email" placeholder="Email" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label" for="email">Ảnh đại diện</label><input type="file" class="form-control" id="email" placeholder="Email" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label">Địa chỉ</label><input type="text" class="form-control" id="address" placeholder="Địa chỉ" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label">Mật khẩu</label><input type="password" class="form-control" id="address" placeholder="Mật khẩu" /></div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group"><label class="form-label">Xác nhận mật khẩu</label><input type="password" class="form-control" id="address" placeholder="Xác nhận mật khẩu" /></div>
                                    </div>
                                 
                                    
                                    <div class="col-12">
                                        <div class="form-group"><button type="submit" class="btn btn-primary">Thêm</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*<h1>Create</h1>

<h4>RegisterRequest</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="User">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
